$primary-color: #f7f7f6;
$babyblue-COLOR: #6490f5;
$grey-color:#ababda;
$secondary-color: #a994d1;
$darkblue-color: #00058d;
$DARK-COLOR: #4e2bff;
$GREEN-COLOR: #421bef;

body {
    background-image: url(/ASSETS/IMG/background.jpg);
    background-size:100%;
    
    font-family: 'verdana';
}

.navbar {
    background-color: $grey-color;
    margin-bottom: 2%;
    color:black;
}

.navbar-brand{
    color: $DARK-COLOR;
    font-weight: bold;
    font-size: 20px;
    font-size: x-large;
}
.nav-link{
    color:black;
    font-size: 18px;
    font-size: large;
}

h1 {
    font-size: 22px;
    font-size: xx-large;
    color: $primary-color;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
}
h2{
    font-size: 22px;
    font-size: xx-large;
    color: $darkblue-color;
    margin:auto 0;
    font-weight: bold;
    text-align: center;
}
.d-flex{
    margin-bottom: 2%;

    font-size: 14PX;
    font-size: medium;
    font-weight: bold;
}

.card, .container {
    margin-bottom: 2%;
    background-color: $primary-color;
    font-size: 14PX;
    font-size: medium;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 10px;
   }
   .card-title{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: $darkblue-color;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 3%;

   }
.card-body, .list-group,.card-text, p, .inputContainer, .form-group{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color:black;
    font-size: medium;
    font-weight: lighter;
  }

.card-img-top, .card-img {
  margin:0 auto;
    width: 100%;
    border:10px;
    border-radius: 10px;
    height: 10rem;
}
.btn{
    background-color:$darkblue-color;
    font-weight: bold;
    font-family: 'verdana';
    color:$primary-color
}
.card-footer {
    background-color:$babyblue-COLOR;
    font-size: 12px;
    font-size: small;
    color:black;
    margin-top: 10%;
}

